.navbar { margin-bottom: 0; border-radius: 0; }
footer { background-color: #f2f2f2; padding: 25px; }
.navbar-brand{ font-size: 30px; font-style: italic; font-weight: bold;}
.jumbotron{min-height:480px; background: white; padding: 15px 0;}
.navbar-inverse .navbar-brand{color:white;}
h2{color: #4267b2;}
h4{font-weight: bold; text-align: left;}
.jumbotron p{font-size: 16px; color:#4261c2;}
.jumbotron a{cursor: pointer; text-decoration: none; }
.jumbotron a img{height: 146px;}